.content {
    font-size: 25px;
    max-width: 100%;
    display: table;
    position: center;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.link {
    position: relative;
    margin: 0 auto;
    padding: 10vh;
}

.update {
    max-width: 100%;
    position: center;
    margin: 0 auto;
    padding: 25vh;
    text-align: center;
    color: white;
}

.spoiler {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color:white;
}

.spoiler:hover{
    color: rebeccapurple;
}

body {
    background-color: black;
}

.success-msg {
    color:greenyellow;
    margin:0;
    padding:0;
}

.error-msg {
    color:red;
    margin:0;
    padding:0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -99px;
    opacity: 0;
    transition: opacity 1s;
    font-size: 20px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#accordion{
    margin: 100px auto;
    width: 600px;
}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #8323c4
}

#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: #8323c4;
}

#accordion label + input[type="radio"]{
    display:none;
}

#accordion .accordion-content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .accordion-content{
    max-height: fit-content;
}
