.content {
    max-width: 100%;
    height: auto;
    display: table;
    position: center;
    margin: 0 auto;
    padding: 20vh;
    text-align: center;
    color: white;
}

.spoiler {
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color:white;
}

.spoiler:hover{
    color: rebeccapurple;
}

body {
    background-color: black;
}
.success-msg {
    color:greenyellow;
    margin:0;
    padding:0;
}

.error-msg {
    color:red;
    margin:0;
    padding:0;
}
