<!DOCTYPE html>
{% load rest_framework %}
<html lang = "en">
    <head>
        <title>Admin</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/adminpage.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{% static "script/script.js" %}"></script>
    </head>

    <div class="content">
        <body>The random link for today is: <span class="spoiler">{{ random_pass }}</span></body>
        <form method="POST">
            {% csrf_token %}
                <input type='url' name='file_link'>
            <button type='submit'>Update Schedule</button>
            <div class="timeout">
                {% if messages %}
                    {% for message in messages %}
                        <p {% if message.tags %} class="{{message.tags}}-msg" {% endif %}>{{message}}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
</html>
