<!DOCTYPE html>
{% load rest_framework %}
<html lang = "en">
    <head>
        <title>Admin</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/adminpage.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{% static "script/script.js" %}"></script>
    </head>

    <div class="content">
        <div class="link">
            <body>The random link for today is:
                <span class="tooltip spoiler" onclick=copy("{{  random_pass  }}") style="cursor: pointer;">
                    {{ random_pass }}
                    <span class="tooltiptext" id="myTooltip">copy</span>
                </span>
            </body>
        </div>
        <div class="update">
            <form method="POST">
                {% csrf_token %}
                <p>Schedule Update</p>
                <input type='url' name='file_link'>
                <button type='submit'>Update</button>
                <div class="timeout">
                    {% if messages %}
                        {% for message in messages %}
                            <p {% if message.tags %} class="{{message.tags}}-msg" {% endif %}>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</html>
