<!DOCTYPE html>
{% load rest_framework %}
<html>
    <head>
        <title>UTA-checkin</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="{% static "script.js" %}"></script>
        <style>
            .form-check-input:checked {
                background-color: #4e2e91;
                border-color: #ffffff;
            }
            .accordion{
                max-height: 25vh;
                overflow:scroll;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;
            }
        </style>
    </head>
    <div class="container justify-content-center mt-5">
        <div class="card rounded-0 shadow-lg bg-body" >
            <img src="{% static "logo_text.png" %}" class="card-img-top rounded-0" alt="logo" style="pointer-events:None;">
            <div class="row g-2">
                <div class="col-8">
                    {% if on_shift %}
                        <form method="POST" class="p-4">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input class="form-control shadow-none is-valid" id="emplid-cover" pattern="[0-9]{8}" required="required" name='covered_by' aria-describedby="emplidHelp" value="{{covering}}" readonly>
                                <label for="emplid-cover" class="form-label">Emplid</label>
                                <div id="emplidHelp" class="form-text">Eight digit number in your ID card.</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control shadow-none is-valid" id="shifts-cover" type="number" min="0" max="5" name="number_of_shifts" value="{{shift_num}}" readonly>
                                <label for="shifts-cover" class="form-label">Additional shifts</label>
                                <div id="emplidHelp" class="form-text">Only enter if you work consecutive shifts. How many shifts excluding the current one?</div>
                            </div>
                            {% if alt_day %}
                                <div class="input-group mb-3">
                                    <div class="input-group-text">
                                        <div class="form-check form-switch"><input id="alternate-day-cover" class="form-check-input shadow-none" type="checkbox" checked disabled></div>
                                    </div>
                                    <span class="input-group-text text-white" style="background-color:#4e2e91;">CUNY Alternate Day</span>
                                    <select name="alternate_day" class="form-select text-center shadow-none is-valid">
                                        <option value="{{alt_day}}" selected="selected">{{alt_day}}</option>
                                    </select>
                                </div>
                            {% else %}
                                <div class="input-group mb-3">
                                    <div class="input-group-text">
                                        <div class="form-check form-switch"><input id="alternate-day-cover" class="form-check-input shadow-none is-valid" type="checkbox" disabled></div>
                                    </div>
                                    <span class="input-group-text text-white" style="background-color:#4e2e91;">CUNY Alternate Day</span>
                                </div>
                            {% endif %}
                            <div class="card text-center">
                                <div class="card-header text-white" style="background-color:#4e2e91;">
                                    Who are you covering?
                                </div>
                                <div class="card-body px-0">
                                    <div>
                                        {% for uta in on_shift %}
                                            <input class="btn btn-outline-secondary" type="submit" name="fullname" value="{{uta}}">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <form method="POST" class="p-4">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input class="form-control shadow-none" id="emplid-main" pattern="[0-9]{8}" required="required" name='emplid' aria-describedby="emplidHelp">
                                <label for="emplid-main" class="form-label">Emplid</label>
                                <div id="emplidHelp" class="form-text">Eight digit number in your ID card.</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control shadow-none" id="shifts-main" type="number" min="0" max="5" name="number_of_shifts">
                                <label for="shifts-main" class="form-label">Additional shifts</label>
                                <div id="emplidHelp" class="form-text">Only enter if you work consecutive shifts. How many shifts excluding the current one?</div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                <div class="form-check form-switch"><input id="alternate-day-main" class="form-check-input alternate-toggle shadow-none" type="checkbox"></div>
                                </div>
                                <span class="input-group-text text-white" style="background-color:#4e2e91;">CUNY Alternate Day</span>
                                <select name="alternate_day" class="alternate-day-selector form-select text-center shadow-none">
                                    <option value="">Select Alternate Day</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                </select>
                            </div>
                            {% if messages %}
                                {% for message in messages %}
                                    <p {% if message.tags == "error" %} 
                                            class="timeout text-danger fade show" 
                                        {% else %}
                                            class="timeout text-success fade show"
                                        {% endif %} >
                                        {{ message }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                            {% if on_shift %}
                                <label> Who are you covering?
                                    <select name="covering">
                                        {% for message in messages %}
                                            <option value="{{message}}">{{ message }}</option>
                                        {% endfor %}
                                    </select>
                                </label><br>
                            {% endif %}
                            <div class="d-grid gap-2">
                                <button class="btn btn btn-outline-secondary shadow-none" type="submit">Checkin</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
                <div class="col-4 p-4">
                    <div class="card-header text-center text-white" style="background-color:#4e2e91;">
                        Recent
                    </div>
                    <div class="accordion text-center rounded-0" id="recentAccordion">
                        {% for c in checked_in %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{c.pk_id}}">
                                <button class="accordion-button btn {% if c.is_late %}btn-outline-danger{% else %}btn-outline-success{% endif %} shadow-none collapsed rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{c.pk_id}}" aria-expanded="true" aria-controls="collapse{{c.pk_id}}">
                                    {{ c.name }}
                                </button>
                                </h2>
                                <div id="collapse{{c.pk_id}}" class="accordion-collapse collapse" aria-labelledby="heading{{c.pk_id}}" data-bs-parent="#recentAccordion">
                                <div class="accordion-body text-start">
                                    <p>Shift: {{c.shift}}</p>
                                    <p>Late Mins: {{c.late_mins}} mins</p>
                                    <p>Alternate Day: {{c.alternate_day}}</p>
                                    <p>Covered By: {{c.covered_by}}</p>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
