<!DOCTYPE html>
{% load rest_framework %}
<html>
    <head>
        <title>UTA-checkin</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/checkin.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{% static "script/script.js" %}"></script>
    </head>
    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <input pattern="[0-9]{8}" placeholder="UTA Emplid (e.g.11111111)" name='emplid'><br>
            <input type="number" value="0" min="0" max="5" placeholder="Additional shifts after current shift" name="number_of_shifts"><br>
            <label><input type="checkbox" class="alternate-toggle">CUNY Alternate Day</label>
            <select name="alternate_day" class="alternate-day-selector">
                <option value="">Select Alternate Day</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
            </select>
            <br>
            <div class="timeout">
                {% if messages %}
                    {% for message in messages %}
                        <p {% if message.tags %} class="{{message.tags}}-msg" {% endif %}>{{message}}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <button type='submit'>Checkin</button>
        </form>
    </div>
</html>
