<!DOCTYPE html>

<html lang = "en">
    <div id="background"></div>

    <head>
        <title>UTA-Clockin</title>
        <link rel = "stylesheet" type = "text/css" href = "homepage.css">
        <script src="homepage.js"></script>
    </head>

    <div id = "title">
        <h1>Welcome to the UTA Scheduling System</h1>
    </div>

    <div id = "instructions">
        <h3>Instructions</h3>
        <b>1. Shift supervisor must enter access code <br>2. All UTA's MUST tap their card to get paid<br>3. Camera will log each entry</b>
    </div>

</html>