<!DOCTYPE html>
{% load rest_framework %}
<html>
    <head>
        <title>UTA Management System</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "css/homepage.css" %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{% static "script/homepage.js" %}"></script>
    </head>
    <body class="log-in-container">
        {% load static %}
        <img src = "{% static "media/logo_nobg.png" %}" alt = "logo">
        <h1>Welcome to the UTA Management System!</h1>
        <h3>Please ask the supervisor/professor/admin for today's link.</h3>
    </body>
</html>
